@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import 'primevue/resources/themes/aura-light-noir/theme.css';
@import 'primeicons/primeicons.css';
@import 'fonts.css';

:root {
  /* color pallette */
  --walnut-brown: hsla(24, 8%, 35%, 1);
  --color-headings: rgb(84, 79, 75);
  --background-color: hsla(200, 100%, 99%, 1);
  --butterscotch: hsla(30, 66%, 55%, 1);
  --fawn: hsla(30, 66%, 65%, 1);
  --dim-gray: hsla(26, 7%, 40%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(200, 100%, 99%, 1);
  --timberwolf: hsla(38, 16%, 86%, 1);
  --container-background-color: hsla(38, 65%, 71%, 1);
  --walnut-brown: hsla(23, 10%, 32%, 1);
  --wheat: hsla(37, 63%, 79%, 1);

  --border-color: hsla(23, 5%, 47%, 1);
  --border-color-faded: hsla(0, 0%, 75%, 0.5);
  --strikethrough-color: hsla(23, 5%, 47%, 0.5);
  --cheap-pine-color: rgb(97, 52, 25);
  --shadow-color:rgb(133, 110, 56);
  --button-color-border: hsla(30, 66%, 55%, 1);
  --button-color-border-faded: hsla(30, 66%, 55%, 0.4);
  --button-color-text: hsla(30, 66%, 55%, 1);
  --button-color-tab-text: hsl(0, 2%, 31%);
  --form-color-background: hsl(75, 3%, 31%);
  --button-color-background: hsla(38, 16%, 86%, 1);
  --color: black;
  --link-color: hsla(30, 66%, 55%, 1);
  --tab-color-background-active: hwb(57 51% 7% / 0.9);
}

* {
  box-sizing: border-box;
  list-style: none;
}
.main-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}

html,
body {
  display: flex;
  background-color: rgb(252,254,255);
  color: var(--cheap-pine-color);
  font-family: 'Lato', sans-serif;
  font-family: 'Cheapine-Sans', sans-serif;
}

.header-conainer  {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  background-color: red;
  color: var(--color);
}

ul.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
  width: 95vw;
  border-radius: 8px;
}

.router-link {
 text-decoration: none;
  color: var(--color-text);
  font-size: 1.25rem;
}

.router-link:hover {
  color: var(--link-color);
}

.router-link.active {
  text-decoration: none;
  color: var(--link-color);
  border-bottom: dashed 2px var(--link-color);
  font-size: 1.25rem;
}

.component-container {
  padding: 2rem;
  border: solid 1px var(--border-color); 
}

h1 {
  color: var(--color-text);
  font-family: 'CheapPine-Sans', sans-serif;
  color: var(--cheap-pine-color);
  font-size: 2.5rem;
  text-decoration: dotted underline;
  text-decoration-color: var(--butterscotch);
}

h2 {
  color: var(--color-muted);
  font-size: x-large;
  font-family: 'CheapPine-Sans', sans-serif;
  color: var(--cheap-pine-color);
  text-decoration: dotted underline;
  text-decoration-color: var(--butterscotch);
}

h3 {
  color: var(--color-text);
  font-size: large;
}

h4 {
  color: var(--color-text);
  font-size: medium;
}

h5 {
  color: var(--color-text);
  font-size: small;
}

li {
  color: var(--color-text);
}

#text {
  width: 65%;
}

#number {
  width: 10%;
}

span {
  color: var(--color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  background-color: var(--white);
  border: 1px solid var(--button-color-border);
  color: var(--button-color-text);
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 100px;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'CheapPine-Sans', sans-serif;  
  font-size: 1.25rem;
  font-weight: bold;
}

button:hover {
  background-color: var(--button-color-border);
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 8px;
}

.delete-btn {
  background-color: var(--white);
  cursor: pointer;
  color: red;
  border: none;
  border: 1px solid red;
}

.delete-btn:hover {
  background-color: red;
  color: var(--white);
}

textarea {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--color);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 80%;
  margin: 1rem;
  margin-bottom: 2rem;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--color);
  padding: 0.5rem;
  margin: 0.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus {
 outline: 2px solid var(--butterscotch);
}

.toast-style {
  background-color: var(--container-background-color);
  border: 1px solid var(--button-color-border);
  color: var(--color);
}

.data-table-container {
  /* border-top: 4px dotted var(--button-color-border-faded); */
}

.data-table {
  width: 100%;
  margin: 1rem;
}

.modal-text {
  color: var(--color-primary-text);

}
