@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  /* color pallette */
  --walnut-brown: hsla(24, 8%, 35%, 1);
  --color-headings: rgb(84, 79, 75);
  --background-color: hsla(200, 100%, 99%, 1);
  --butterscotch: hsla(30, 66%, 55%, 1);
  --fawn: hsla(30, 66%, 65%, 1);
  --dim-gray: hsla(26, 7%, 40%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --white: hsla(200, 100%, 99%, 1);
  --timberwolf: hsla(38, 16%, 86%, 1);
  --container-background-color: hsla(38, 65%, 71%, 1);
  --walnut-brown: hsla(23, 10%, 32%, 1);
  --wheat: hsla(37, 63%, 79%, 1);

  --border-color: hsla(23, 5%, 47%, 1);
  --button-color-border: hsla(30, 66%, 55%, 1);
  --button-color-text: hsla(30, 66%, 55%, 1);
  --button-color-background: hsla(38, 16%, 86%, 1);
  --color: black;
  --link-color: hsla(30, 66%, 55%, 1);
}

* {
  box-sizing: border-box;
  list-style: none;
}
.main-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
}

html,
body {
  display: flex;

  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Lato', sans-serif;
}


.nav-container {
  border: solid 1px var(--border-color);
  border-radius: 8px;
}

ul.nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;
  width: 95vw;
  border-radius: 8px;
}

.router-link {
 text-decoration: none;
  color: var(--color-text);
  font-size: 1.25rem;
}

.router-link:hover {
  color: var(--link-color);
}

.router-link.active {
   text-decoration: none;
  color: var(--link-color);
  border-bottom: dashed 2px var(--link-color);
  font-size: 1.25rem;
}

.component-container {
  padding: 2rem;
  border: solid 1px var(--border-color); 
}

h1 {
  color: var(--color-text);
  padding: 2rem;
 
}

h2 {
  color: var(--color-muted);
  font-size: x-large;
}

h3 {
  color: var(--color-text);
  font-size: large;
}

h4 {
  color: var(--color-text);
  font-size: medium;
}

h5 {
  color: var(--color-text);
  font-size: small;
}

li {
  color: var(--color-text);
}

span {
  color: var(--color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

button {
  background-color: var(--white);
  border: 1px solid var(--button-color-border);
  color: var(--button-color-text);
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 100px;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.75rem;
  font-weight: bold;
}

button:hover {
  background-color: var(--button-color-border);
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 8px;
}

.delete-btn {
  background-color: var(--white);
  cursor: pointer;
  color: red;
  border: none;
  border: 1px solid red;
}

.delete-btn:hover {
  background-color: red;
  color: var(--white);
}


textarea {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--color);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 80%;
  margin: 1rem;
  margin-bottom: 2rem;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--color);
  padding: 0.5rem;
  margin: 0.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus {
 outline: 2px solid var(--butterscotch);
}

.toast-style {
  background-color: var(--container-background-color);
  border: 1px solid var(--button-color-border);
  color: var(--color);
}
